.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #fff;
    /* transition: .5s; */
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  
  .navbar-links li a {
    color: #202c5a;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:500;
    padding: 10px;
    border-radius: 10px;
    box-sizing: calc(3px);
    transition: .5s;
  }

  .navbar-links li a:hover{
    height: 20px;
    width: 40px;
    background: linear-gradient(90deg, #020c5a, #0008fa);
    color: white;
    /* transition: .5s; */
  }
  
  /* .nav-links li a {
    text-decoration: none;
    color: #555;
  }
   */
  .btn-get-started {
    background: linear-gradient(90deg, #020c5a, #0008fa);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .btn-get-started:hover{
    background: white;
    color:#020c5a;
    box-shadow: 0 0 10px #020c5a;
    border: #020c5a 2px solid;
  }
  